<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">My Website</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/projects"><b>All Projects</b></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/userdata/2"><b>Api UserData</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="api/v1/projects"><b>Projects Api</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/reportDate"><b>Report</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout"><b>Logout</b></a>
            </li>

        </ul>
    </div>
</nav>
<div class="container py-5">
    <div class="mb-5">
        <h1>Date Range</h1>
        <form action="#" th:action="@{/projectsFilter}"  method="get">
            <div class="form-group">
                <label for="startDate">Start</label>
                <input type="date" class="form-control" id="startDate" name="start" placeholder="Enter  Date">
            </div>
            <div class="form-group">
                <label for="endDate">End</label>
                <input type="date" class="form-control" id="endDate" name="end" placeholder="Enter  Date">
            </div>
            <button type="submit" class="btn btn-primary">ok</button>
        </form>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Intro</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Status</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Members</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:block th:each="project : ${projects}">
                    <td th:text="${project.id}"></td>
                    <td th:text="${project.projectName}"></td>
                    <td th:text="${project.projectIntro}"></td>
                    <td th:text="${project.projectOwner}"></td>
                    <td th:text="${project.status}"></td>
                    <td th:text="${project.startDateTime}"></td>
                    <td th:text="${project.endDateTime}"></td>
                    <td>
                        <th:block th:if="${project.projectMembers}">
                            <p th:each="member : ${project.projectMembers}" th:text="${member.userName}"></p>
                        </th:block>
                    </td>
                    <td>
                        <div class="d-flex justify-content-start">
                            <a class="btn btn-outline-secondary me-3" th:if="${project.projectOwner == session.userName}" th:href="@{editProject/{id}(id=${project.id})}" role="button">Edit</a>
                            <a class="btn btn-outline-secondary" th:if="${project.projectOwner == session.userName}" th:href="@{deleteProject/{id}(id=${project.id})}" role="button">Delete</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-start">
                <a class="btn btn-outline-secondary btn-lg me-3" href="/addProject" role="button">Create New Project</a>
<!--                <a class="btn btn-outline-secondary btn-lg" href="/projectsByDate" role="button">Date Range</a>-->
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>
